html {
    height: 100%;
    position: relative;
}

body {
    height: 100%;
    width: auto;
    font-size: 12px;
}

img {
    max-width: 100%;
    height: auto;
}

* {
    padding: 0;
    margin: 0;
    line-height: 1.6em;
    transition: background-color 0.30s linear, border-color 0.30s linear, color 0.30s linear, outline-color 0.30s linear;
}

.boxes {
    text-align: center;
    margin: 100px 50px 0 50px;
}

#vys-credits {
    text-align: center;
    width: 80%;
    margin: 10px auto 40px;
    max-width: 1000px;
}

#vys-credits span {
    display: inline-block;
    line-height: 1em;
    margin: 0 3px;
    cursor: crosshair;
    color: #666;
    color: rgba(255,255,255,.4);
    font-family: 'Six Caps', sans-serif;
    line-height: 1em;
    text-transform: uppercase;
    position: relative;
    font-size: 28px;
}

.mybox {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    opacity: 0.8;
    margin: 0 5% 200px 5%;
    z-index: 110;
}

#contentContainer {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    background-color: #191919;
}

main, #contentContainer {
    height: 303px;

}

@media screen and (max-height: 600px) {
    .boxes {
        margin-top: 40px;
    }
}

@media screen and (max-height: 400px) and (max-width: 2000px) {
    #logo {
        width: 110px;
        height: 30px;
    }
}

@media screen and (max-height: 600px) {
    #logo {
    width: 110px;
    height: 30px;
    }
}


#headerImages {
    position: absolute;
    z-index: 0;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}

.fs-background {
    overflow: hidden;
    position: relative;
}

.fs-background, .fs-background-container, .fs-background-media {
    -webkit-transition: none;
    transition: none;
}

.fs-background-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 0;
    overflow: hidden;
}

.fs-background-media .fs-background-animated {
    transition: opacity 0.5s linear;
    }
}

div .fs-background-media .fs-background-animated {
    height: 755.438px;
    top: -226.219px;
    opacity: 1;
    width: 1343px;
    left: 0px;
}

#footerContainer {
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    text-transform: uppercase;
    z-index: 0;
}

#footer {
    padding: 30px;
    position: relative;
    z-index: 1;
}



.fs-background-media {
    position: absolute;
    top: 0;
    bottom: 0;
    opacity: 0;
}

.fs-background, .fs-background-container, .fs-background-media {
    transition: none;
}

.more {
    display: inline-block;
    font-size: 90%;
    color: #aaa;
    color: rgba(255,255,255,.3);
}

.fs-background-media img, .fs-background-media video, .fs-background-media iframe {
    width: 100%;
    height: 100%;
    display: block;
}